<!DOCTYPE html>
<html lang="en">
  <head>
     <% include partials/head %>
  </head>
  <body>
	<div class="container-fluid">
        <% include partials/navigation %>
		<h3><%= page %></h3>
		<div class="row">
		  <div class="col-12">
			<p>Description here</p>
		  </div>
		</div>
	</div>
  </body>
</html>
