<!DOCTYPE html>
<html lang="en">
  <head>
     <% include partials/head %>
  </head>
  <body>
	<div class="container-fluid">
        <% include partials/navigation %>
		<h3><%= page %></h3>
		<div class="row">
		  <div class="col-12"><br>
			  <h4>Welcome to the Chicago Housing Rentals web application.</h4><br>

				  <li>Users may sign up as a tenant to view and schedule housing rentals in the Chicago area.</li><br>

				  <li>Users may sign up as a host to create and view their own rental listings.</li><br>

				  <li>Host users may take advantage of our built in price recommender for their rentals.</li><br>

				  <li>Tenants and hosts may view their current bookings for rentals and have the option to cancel</li><br>
				  
				  <li>Tenants and hosts can also view their booking history.</li><br>
				  
				  <li>Tenants may leave reviews for properties in which they stayed.</li><br>

		  </div>
		</div>
	</div>
  </body>
</html>
