<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
     <script src="jquery-3.5.1.min.js"></script>
  </head>
  
  <body>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    

    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">

          <% include partials/navigation %>
          <h2><%= page %></h2><br>
          
            <form id="scheduleBooking-form">

                <input id="listing_id" type="hidden" value="<%= listing.id %>"></input>
                <input id="tenant_id" type="hidden" value="<%= user.tenant_id %>"></input>

                <label for="datepicker">Start Date:</label>
                <input type="text" id="datepicker_start"><br><br>
                <label for="datepicker">End Date:</label>
                <input type="text" id="datepicker_end"><br><br>
                <p class="error" id="booking-error"></p><br>
                <h3>Price</h3>
                <h3 id="totalPrice"></h3>
                <input id="price" type="hidden" value="<%= listing.price %>"></input><br>
                <input type="submit" value="Submit">
            </form>
            <script>
              $( function() {
                $( "#datepicker_start" ).datepicker();


              } );
              $( function() {
                $( "#datepicker_end" ).datepicker();
              } );
            </script>
                
        </div>
    	</div>
  </div>
  <script src="/javascripts/schedule.js"></script>
  </body>
</html>
