<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">

          <% include partials/navigation %>
          <h2><%= page %></h2><br>
            
          <h5>Coming soon...</h5>
         

    	</div>
	</div>
  </body>
</html>
