<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">

                <% include partials/navigation %>
                <h3><%= page %></h3><br>
                <%= theBooking.booking_id %>
                <%= theListing.listing_id %>
                <h3></h3>


            </div>
    	</div>
	</div>
  </body>
</html>
