<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">
    			<h3>List of Courses</h3>
                <table>
                    <ul>
                        <li><a href="http://localhost:3000">Home</a></li>
                        <li><a href="http://localhost:3000/subjects">List of Subjects</a></li>
                    </ul>
                </table>
    			<table class="table">
    				<tr>
    					<th>Course</th>
    					<th>Title</th>
                        <th>Description</th>
    				</tr>
                    <% coursesArray.forEach( c => { %>
    					<tr>
    					  <td> <%= c.subject %><%= c.number %> </td>
    					  <td> <%= c.title %> </td>
                          <td> <%= c.description %> </td>
    					</tr>
    				<% }) %>

    			</table>
    	</div>
	</div>
  </body>
</html>
