<!DOCTYPE html>
<html lang="en">
  <head>
     <% include partials/head %>
  </head>
  <body>
	<div class="container-fluid">
        <% include partials/navigation %>
		<h3><%= page %></h3>
        <br>
		<div class="row">
		  <div class="col-12">
            <form id="h-signup-form">
                <input id="username" type="username" placeholder="Username" style="margin-bottom:3px"></input><br>
    			<input id="host_name" type="text" placeholder="Host Name" style="margin-bottom:3px"></input><br>
                <input id="host_location" type="text" placeholder="Host City" style="margin-bottom:3px"></input><br>
                <input id="host_neighborhood" type="text" placeholder="Host Neighborhood" style="margin-bottom:3px"></input><br>
                <input id="password1" type="password" placeholder="Password" style="margin-bottom:3px"></input><br>
                <input id="password2" type="password" placeholder="Password" style="margin-bottom:3px"></input><br>
                <p class="error" id="h-signup-error"></p>
                <input type="submit" value="Submit"></input>
            </form>
            <br><p>Already have an account? <a href="/">Sign In</a></p>
		  </div>
		</div>
	</div>
    <script src="/javascripts/authentication.js"></script>
  </body>
</html>
