<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
     <style>
       table, th, td {
         border: 1px solid black;
       }
     </style>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12">
          <% include partials/navigation %>
          <h3><%= page %></h3><br>
          <% if (listingArray.length >0) { %>
          <table>
            <% listingArray.forEach( c => { %>
              <tr>
                <td><a href="http://localhost:3000/listing/<%= c.id %>"><%= c.name %></a></td>
                <td><img width="960" height="540" src="<%= c.picture_url %>" /></td>
              </tr>
          <% }) %>
        </table>
        <% } else{ %>
          <h3>You don't have any listings yet!</h3>
          <a href="http://localhost:3000/listing/create">Click to create one now</a>
        <% } %>
    	</div>
	</div>
  
  </body>
</html>
