<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body> <div class="container-fluid">

	<div class="row">
		<div class="col-12">
			<h3>List of Subjects</h3>
			<table class="table">
				<tr>
					<th>Subject</th>
					<th>Full Name</th>
				</tr>
				<% subjectsArray.forEach( s => { %>
					<tr>
					  <td> <a href="http://localhost:3000/courses/<%=s.name%>" </a> <%= s.name %> </td>
					  <td><%= s.full_name %> </td>
					</tr>
				<% }) %>
			</table>
		</div>
	</div>
  </body>
</html>
