body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
    margin-bottom: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #21252D;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav-right {
  float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.navbar {
    background-color: #21252D;
}

.message {
  color: #007BFF;
}

.error {
  color: #007BFF;
}
